<!--
  ~ config.xml
  ~ Copyright (c) 2015
  ~ Author: Ionut Damian
  ~ ******************************************************
  ~ This file is part of the Logue project developed at the Lab for Human Centered Multimedia
  ~ of the University of Augsburg.
  ~
  ~ The applications and libraries are free software; you can redistribute them and/or modify them
  ~ under the terms of the GNU General Public License as published by the Free Software
  ~ Foundation; either version 3 of the License, or any later version.
  ~
  ~ The software is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this library; if not, write to the Free Software Foundation, Inc.,
  ~ 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
  -->

<logue>
	<feedback>
        <class type="visual" layout_id="layout_table">
            <behaviour name="SpeechRate" ssjevent="SpeechRate" ssjsender="SSJ" history="5"/>
            <event from="0.0" to="2.0" res="icons/speechrate/orientation_low.png, icons/feedback/thumb_negative.png"/>
            <event from="2.0" to="3.6" res="icons/speechrate/orientation_med.png, icons/feedback/thumb_positive.png"/>
            <event from="3.6" to="999" res="icons/speechrate/orientation_high.png, icons/feedback/thumb_positive.png"/>
        </class>
        <class type="visual" layout_id="layout_table">
            <behaviour name="BodyEnergy" ssjevent="OverallActivation" ssjsender="SSJ"/>
            <event from="0.0" to="0.8" res="icons/energy/area_low.png, icons/feedback/thumb_negative.png"/>
            <event from="0.8" to="2.0" res="icons/energy/area_med.png, icons/feedback/thumb_positive.png"/>
            <event from="2.0" to="999" res="icons/energy/area_high.png, icons/feedback/thumb_negative.png"/>
        </class>
        <class type="visual" layout_id="layout_table">
            <behaviour name="Loudness" ssjevent="Intensity" ssjsender="SSJ" history="3"/>
            <event from="0" to="50" res="icons/loudness/quantity_low.png, icons/feedback/thumb_negative.png"/>
            <event from="50" to="65" res="icons/loudness/quantity_med.png, icons/feedback/thumb_positive.png"/>
            <event from="65" to="999" res="icons/loudness/quantity_high.png, icons/feedback/thumb_positive.png"/>
        </class>
	</feedback>
</logue>
